<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/andre/IntelliJ-Workspace/foro-alura-api"><classes><class name="com.foro.api.ApiApplicationTests"><methods><include name="contextLoads"/></methods></class><class name="com.foro.api.reply.TestReplyRepositoryIT"><methods><include name="testReplayCRUD"/></methods></class><class name="com.foro.api.topic.TestTopicRepositoryIT"><methods><include name="testTopicCRUD"/><include name="testListTopics"/></methods></class></classes></test></suite>